<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links</title>
</head>

<body>
    <ul>
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="search-results.html">Результаты поиска</a>
        </li>
        <li>
            <a href="stock.html">Акции и скидки</a>
        </li>
        <li>
            <a href="stock-internal.html">Акции и скидки (внутренняя)</a>
        </li>
        <li>
            <a href="delivery.html">Доставка и оплата</a>
        </li>
        <li>
            <a href="product-card.html">Карточка товара</a>
        </li>
        <li>
            <a href="categories.html">Категории товара</a>
        </li>
        <li>
            <a href="contact.html">Контакты</a>
        </li>
        <li>
            <a href="personal-area.html">Личный кабинет</a>
        </li>
        <li>
            <a href="order.html">Оформление заказа</a>
        </li>
    </ul>
</body>

</html>